<form action="/shortened_urls/create", method="post", id="fo">
    <input type="text" value="", name ="original_url", placeholder="Enter the link here" />
    <div id="formbutton">
    	<input type="submit", value="Short URL" />
    </div>
</form>
<div class="container">
	<table border = 1 width = 200 class ='table'>
	<tr>
	    <td style="text-align: center;">Original URL</td>
	    <td style="text-align: center;">Short URL</td>

	</tr>
	<% @urls.each do |url| %>
	<tr>
	    <td style='word-break:break-all'><%= link_to url.original_url, url.original_url%></td>
	    <td><%= link_to "localhost:3000" + "/" + url.short_url,url.short_url %> </td>

	</tr>
	<% end %>
	</table>
	<%= paginate @urls %>

</div>
