<h2 style="text-align: center">Original url is: <%=	link_to @original_url, @original_url %></h2>
<h2 style="text-align: center">shortened ulr is: <%= @short_url %></h2>


<div class="link">
	<%= link_to "Back", root_path %>
</div>