
<section id="content">
  <h1>Your shortened URL</h1>
  <p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>
</section>


<div id="urlbox">
	<br>
	<br>
	<div id="formurl", style="max-width: 400px">
		<input type="text" id="shorturl", value="<%= @short_url %>"></input>
		<div id="formbutton">
			<input type="button" data-clipboard-action="copy" data-clipboard-target="#shorturl" class="copy" value="Copy URL">
		</div>
	</div>

	<div id="formurl", style="max-width: 400px display: block;">
		<div id="baloon", style="display: none;">URL Copied</div>
	</div>

	<p class="boxtextleft">
		Long URL: 
		<%= link_to @original_url, @original_url %>
		Short URL:
		<%= link_to @short_url, @short_url, target: :_blank, rel: [:noopener, :noreferrer] %>
	</p>

</div>